<div class = "row">
  <h1>Danh sách bàn</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Tên bàn</td>
          <td>Màu sử dụng</td>
          <td><button class="btn btn-link" (click) = "btnInsertBan(insertban)"><i class="fa fa-plus" style="color: screen"></i></button></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let data of dlBan; index as i">
          <td>
            <input type="text"  class="form-control" [(ngModel)]=" data.name " >
          </td>
          <td>
              <div>
                  <input [(colorPicker)]="data.color" [style.background]="data.color"/>
              </div>
          </td>
          <td style="width: 180px">
            <div class="row">
                <button class="btn btn-link" (click) = "saveUpdateBan(i)" ><i class="fa fa-save" style="color: rgb(47, 0, 255)"></i></button>
                <button class="btn btn-link" (click) = "btnDeleteBan(i)"><i class="fa fa-trash" style="color: red"></i></button>
            </div>                              
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="dialoginsertban">
    <ng-template #insertban let-modal style="margin-top: 80px">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Thêm bàn</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <table class="table table-hover">
              <tr>
                  <td>Tên bàn</td>
                  <td><input class="form-control" [(ngModel)]="insert.name"></td>
              </tr>
              <tr>
                  <td>Chọn màu</td>
                  <td>
                      <input [(colorPicker)]="insert.color" [style.background]="insert.color"/>
                  </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="modal-footer">           
          <div class="row col-md-12" style="margin-left: 70px;">
            <button type="button" class="btn btn-primary" (click)="saveInsertBan(data)">Thêm</button>
            <button type="button" class="btn btn-danger" (click)="cancelBan()">Hủy bỏ</button>    
          </div>     
        </div>
    </ng-template>
</div>