  <div class="row  manhinhbep">
        <div class="col-md-6 menubepcho">
            Chờ/Chờ chế biến    
        </div>
        <div class="col-md-6 menubepxong">            
                    Đã xong/Chờ đem lên
        </div>  

        <div class="col-md-6 p-0">
            <perfect-scrollbar style="max-height: 515px" [config]="config">
                <div class="dulieucho">    
                  <table class="table table-hover">
                      <tbody>
                        <tr *ngFor = "let data of loadNau(); index as i">
                          <td>
                              <div>{{ data.tenmon }}</div>
                              <small style="color: blue">{{ data.nameban }} </small> 
                          </td>
                          <td style="width: 90px">
                              <input type="number" [(ngModel)]="data.soluong" class="form-control">
                          </td>
                          <td style="width: 180px">
                            <div class="row">
                                <button class="btn btn-warning" *ngIf = "data.status !== 1" (click) = "btnNau(data)" >Nấu</button>
                                <button class="btn btn-success" (click) = "btnXong(data)" *ngIf = "data.status === 1">Xong</button>
                                <button class="btn btn-danger" *ngIf = "data.status !== 1" (click) = "btnHuy(data)">Hủy</button>
                            </div>                              
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div> 
            </perfect-scrollbar>      
        </div>
        <div class="col-md-6 p-0">
           
            <perfect-scrollbar style="max-height: 515px" [config]="config" >              
                <div class="dulieuxong">    
                    <table class="table table-hover">
                        <tbody>
                        <tr *ngFor = "let data of loadDaXong(); index as i">
                            <td>
                                <div>{{ data.tenmon }}</div>
                                <small style="color: blue">{{ data.nameban }} </small> 
                            </td>
                            <td style="width: 90px">
                                <input type="number" [(ngModel)]="data.soluong" class="form-control">
                            </td>
                            <td style="width: 180px">
                                <button class="btn btn-warning pull-right" style="margin-top: 2px" (click)="checkedBung(data)">Bưng</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> 
            </perfect-scrollbar>
        </div>
      
  </div>