<div class = "row">
  <h1>Quản lý danh mục</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td><button class="btn btn-link" (click) = "btnDialogInsert(insertdanhmuc)"><i class="fa fa-plus" style="color: screen"></i></button></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let data of dlDanhmuc; index as i">
          <td  width="100px">
            <input type="text"  class="form-control " disabled [(ngModel)]=" data.id " >
          </td>
          <td>
              <div>
                  <input type="text"  class="form-control" [(ngModel)]="data.name"/>
              </div>
          </td>
          <td style="width: 180px">
            <div class="row">
                <button class="btn btn-link" (click) = "saveUpdateDanhmuc(i)" ><i class="fa fa-save" style="color: rgb(47, 0, 255)"></i></button>
                <button class="btn btn-link" (click) = "btnDeleteDanhmuc(i)"><i class="fa fa-trash" style="color: red"></i></button>
            </div>                              
          </td>
        </tr>
      </tbody>
    </table>
</div>
<div class="dialoginsertdanhmuc">
    <ng-template #insertdanhmuc let-modal style="margin-top: 80px">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Thêm loại món ăn mới</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <table class="table table-hover">
              <tr>
                  <td>Tên danh mục</td>
                  <td><input class="form-control" [(ngModel)]="datainsertdanhmuc.name"></td>
              </tr>              
            </table>
          </div>
        </div>
        <div class="modal-footer">           
          <div class="row col-md-12" style="margin-left: 70px;">
            <button type="button" class="btn btn-primary" (click)="saveInsertDanhmuc(data)">Thêm</button>
            <button type="button" class="btn btn-danger" (click)="cancelDanhmuc()">Hủy bỏ</button>    
          </div>     
        </div>
    </ng-template>
</div>