<input type="file" style="display:none" #file (change)="onFileChanged($event)">
<input type="file" #insertFile style="display: none" (change)="onFileInsertChanged($event, 'insert')">
<div class = "row">
  <h1>Quản lý món ăn</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Tên món</td>
        <td>Đơn giá</td>
        <td>Danh mục</td>
        <td>Hình</td>
        <td><button class="btn btn-link" (click) = "btnInsertMonan(insertmonan)"><i class="fa fa-plus" style="color: screen"></i></button></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of dlMonan; index as i">
        <!-- <tr *ngFor = "let data of dlMonan; index as i | paginate: { itemsPerPage: 10, currentPage: page }"> -->
        <td>
            <div >
              <input class="form-control" type="text" [(ngModel)]="data.tenmon" >
            </div>
        </td>
        <td>
            <div>
                <input class="form-control" type="text" [(ngModel)]="data.dongia" >
            </div>
        </td>
        <td>
            <select class="form-control" [(ngModel)]="data.iddanhmuc">
                <option *ngFor="let danhmuc of dlDanhmuc" [ngValue]="danhmuc.id">{{danhmuc.name}}</option>
            </select>
        </td>
        <td>
          <div>
            <img src="{{ !!data.hinh ? 'data:image/jpeg;base64,' + data.hinh :  hinh}}" width="100px" height="80px" (click)="changePic(i)"/>
          </div>
        </td>
        <td style="width: 180px">
          <div class="row">
              <button class="btn btn-link" (click) = "btnUpdateMonan(i)" ><i class="fa fa-save" style="color: rgb(47, 0, 255)"></i></button>
              <button class="btn btn-link" (click) = "btnDeleteMonan(data.id, i)"><i class="fa fa-trash" style="color: red"></i></button>
          </div>                              
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class="has-text-centered">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div> -->
<div>
  <ng-template #insertmonan let-modal style="margin-top: 80px">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Thêm Món ăn</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <table class="table table-hover">
            <tr>
                <td>Tên Món</td>
                <td><input class="form-control"  [(ngModel)]="insertMonan.tenmon"></td>
            </tr>
            <tr>
                <td>Danh mục</td>
                <td>
                    <select class="form-control" [(ngModel)]="insertMonan.iddanhmuc">
                        <option *ngFor="let danhmuc of dlDanhmuc" [ngValue]="danhmuc.id">{{danhmuc.name}}</option>
                    </select>
                </td>
            </tr>
            <tr>
              <td>
                Đơn giá
              </td>
              <td>
                  <input  type="number" class="form-control"  [(ngModel)]="insertMonan.dongia">
              </td>
            </tr>
            <tr>
              <td>
                Hình ảnh
              </td>
              <td>
                  <img src="{{ insertMonan.hinh || hinh}}" width="100px" height="80px" (click)="changeInsertPic()"/>
              </td>
            
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">           
        <div class="row col-md-12" style="margin-left: 70px;">
          <button type="button" class="btn btn-primary" (click)="saveInsertMoan()">Thêm</button>
          <button type="button" class="btn btn-danger" (click)="cancelMonan()">Hủy bỏ</button>    
        </div>     
      </div>
  </ng-template>
</div>