<div class="row" style=" width: 100%">
  <div class = "col-md-12">
    <h1 style="color:red; text-align: center">Sơ đồ</h1>
    <div class="row">
        <div class="col-md-2" *ngFor="let sodo of dlSoDo; index as i">
            <ng-template #tipContent>
              <div>
                
                <button type="button" class="btn btn-link mr-2" (click) = "getChonban(sodo.id)">
                  <i class="fa fa-street-view iconBtnLink" >
                    <b style="font-size: 14px">Sử dụng</b>
                  </i>
                </button>
                <button type="button" class="btn btn-link mr-2" (click)="openModal('chonbanghep')">
                  <i class="fa fa-street-view iconBtnLink" >
                    <b style="font-size: 14px">Ghép bàn</b>
                  </i>
                </button>
                <button type="button" class="btn btn-link mr-2">
                  <i class="fa fa-street-view iconBtnLink" >
                    <b style="font-size: 14px">Chuyển bàn</b>
                  </i>
                </button>
              </div>
            </ng-template>
            <button class="btn btn-light" tooltipClass="my-custom-class" [ngbTooltip]="tipContent">
                  <div class="relative">
                    <img  width="123px" height="115px" 
                    src="{{ !!sodo.status ? hinhdasudung : hinhchuasudung }}" />
                    <div class="nameBan">
                        {{ sodo.name}}
                    </div>
                  </div>
            </button>
              <!-- <div class="backgroundTable">
                  <div class="nameBan">
                      {{ sodo.name}}
                  </div>
              </div> -->
        </div>
    </div>
     
  </div>
</div>