<div class="container-fluid setFullbody">
    <div class = "menu">
        <!-- BEGIN HEADER MENU -->
          <ul>
            <!-- <li class="dropdown dropdown-fw dropdown-fw-disabled  active open selected">          
              <a  class="nav-link" routerLink="/order"  ><i class="fa fa-pencil-square-o" style="font-size:20px;"></i>
                 Order </a>
            </li> -->
            <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
              <a  routerLink="/sodo">
                <i class="fa fa-map-o" style="font-size:20px;"></i> Sơ đồ </a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
              <a  routerLink="/hoadon">
                <i class="fa fa-calculator" style="font-size:20px;"></i>Thanh Toán</a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled  ">
              <a  routerLink="/bep">
                <i class="fa fa-calculator" style="font-size:20px;"></i>Bếp</a>
            </li>
            <li class="dropdown dropdown-fw dropdown-fw-disabled" style="margin-left: auto">
              <div class="input-group mb-3" style="margin-top: 5px;">
                  <input type="text" class="form-control" [(ngModel)]="tenkh" placeholder="Tên khách hàng" aria-label="tenkh" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-danger" type="button" (click)="btnMangVe(tenkh)" >Mang Về</button>
                  </div>
              </div>
            </li>
          </ul>
    </div> 
    <div class="bodyContent">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <input type="text" [(ngModel)]="email" />
<input type="text" [(ngModel)]="pass" />
<input type="button" (click)="getData()" value="Đăng Nhập"/> -->