<input type="file" style="display:none" #file (change)="onFileChanged($event)">
<h1 style="text-align: center">Quản lý account</h1>

<div class="row" style="padding: 10px;">
    <div class="col-md-2">
        <div class="avata">
            <img src="{{ !!dataAccount.hinh ? dataAccount.hinh :  hinh}}" (click)="changePic(0)" />

        </div>
    </div>
    <div class="col-md-10">

        <ngb-tabset>
            <ngb-tab title="thông tin">
                <ng-template ngbTabContent>
                    <label for="email">
                        <b>Họ tên</b>
                    </label>
                    <input class="form-control" type="text" [(ngModel)]="dataAccount.hoten">

                    <label for="psw">
                        <b>Địa chỉ</b>
                    </label>
                    <input class="form-control" type="text" [(ngModel)]="dataAccount.diachi">

                    <label for="psw-repeat">
                        <b>Ngày sinh</b>
                    </label>
                    <input class="form-control" type="date" [(ngModel)]="dataAccount.ngaysinh">

                    <label for="psw-repeat">
                        <b>Số điện toại</b>
                    </label>
                    <input class="form-control" type="text" [(ngModel)]="dataAccount.sdt">
        <button class="btn btn-primary" (click)="saveInfoAccount()" style="margin-left: 70px">Sửa</button>

                </ng-template>


            </ngb-tab>
            <ngb-tab title="mật khẩu">
                <ng-template ngbTabContent>
                    <label for="psw-repeat">
                        <b>Mật khẩu cũ</b>
                    </label>
                    <input class="form-control" type="password" [(ngModel)]="mk.oldmk">
                    <label for="psw-repeat">
                        <b>Mật khẩu mới </b>
                    </label>
                    <input class="form-control" type="password" [(ngModel)]="mk.newmk">
                    <label for="psw-repeat">
                        <b>Mật khẩu mới </b>
                    </label>
                    <input class="form-control" type="password" [(ngModel)]="mk.renewmk">
        <button class="btn btn-primary" (click)="savePassAccount()" style="margin-left: 70px">Sửa</button>

                </ng-template>

            </ngb-tab>

        </ngb-tabset>
    </div>
</div>
