.hoadon{
  border: 1px;
  margin-top: 50px;
}
.btnhoadon{
  font-weight: bold;
  margin-left: 62px;
  margin-bottom: 5px
}
.tenhoadon{
  background-color: #5ed90e;
  color: aliceblue;
  text-align: center;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.noidunghd{
  border-style: solid;
  border-color: #5ed90e;
  padding-left: 8px;
}    
.btnchitiethd{
  padding-left: 45px;
  border: 2px #5ed90e;
}
.dialogtinhtien{
  margin-top: 80px;
}
.modal-dialog{
  margin-top: 80px !important;
  z-index: 999999;
}
.input-no-border{
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid black;
  background: white;
}
