<div class="row" style="height: 600px; width: 100%">
    <div class="col-md-8">
        <div class="container">
          <ngb-tabset>
              <ngb-tab title="Chờ thanh toán">
                <ng-template ngbTabContent>
                    <div class="row">                        
                        <p>aa</p>
                    </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Mang về">
                  <ng-template ngbTabContent>
                      <div class="row">
                          b
                      </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab title="Giao hàng">
                  <ng-template ngbTabContent>
                      <div class="row">
                          
                      </div>
                  </ng-template>
              </ngb-tab>
              <ngb-tab title="Đặt trước">
                  <ng-template ngbTabContent>
                      <div class="row">                        
                          
                      </div>
                  </ng-template>
              </ngb-tab>
          </ngb-tabset>
        </div>
    </div>
</div>